
# No index
Options -Indexes

# Charset
AddDefaultCharset UTF-8

# Compression
AddOutputFilterByType DEFLATE text/html text/plain
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript application/javascript

# Expiration
ExpiresActive On
ExpiresByType image/x-icon "access plus 1 week"
ExpiresByType image/png "access plus 1 week"
ExpiresByType image/jpeg "access plus 1 week"

# Block hidden files
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

#
# Rewrite rules
#
RewriteEngine On

# Redirect HTTP => HTTS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Environment
RewriteBase /
SetEnv BASE /
SetEnv ENV dev
