
# No index
Options -Indexes

# Default charset
AddDefaultCharset UTF-8
AddCharset UTF-8 .css .js .json .svg

# Security headers
Header always set Strict-Transport-Security "max-age=10886400" env=HTTPS
Header always set X-Content-Type-Options "nosniff"

# Type overrides
AddType text/javascript .js


# Block hidden files
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>


# Compress text
AddOutputFilterByType DEFLATE text/html text/plain
AddOutputFilterByType DEFLATE text/css text/javascript
AddOutputFilterByType DEFLATE image/svg+xml


ExpiresActive On

# Media Expiration
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 month"
ExpiresByType image/svg+xml "access plus 1 month"


RewriteEngine On

# Redirect HTTP => HTTS
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteCond %{REMOTE_ADDR} !=::1
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
